<ng-container *ngIf="user$ | async; else authTemplate">
  <div class="relative flex flex-col min-h-screen bg-gray-50">
    <nx-header></nx-header>
  
    <div class="flex flex-grow bg-slate-800">
      <router-outlet>
        <div *ngIf="isLoading" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <mat-spinner
              color="accent">
          </mat-spinner>
        </div>
      </router-outlet>
    </div>
  </div>
</ng-container>

<ng-template #authTemplate>
  <router-outlet></router-outlet>
</ng-template>