<div class="w-full h-screen flex justify-center items-center signin-page bg-[url('^assets/auth/sign-in-bg.jpg')]">
  <div class="w-1/2 h-1/2 shadow-lg rounded-md bg-white p-8 flex flex-col">
    <h2 class="text-center font-medium text-2xl mb-4">
      Sign in
    </h2>
    <form class="flex flex-1 flex-col justify-evenly" [formGroup]="loginForm">
      <div class='relative'>
        <input
          class="w-full border-2 outline-none p-2 rounded-md"
          [class.border-red-500]="(email?.invalid || errors?.email) && (email?.dirty || email?.touched)"
          type="email"
          placeholder="Enter Your Email"
          formControlName="email"
        />

        <p *ngIf="(email?.invalid || errors?.email) && (email?.dirty || email?.touched)"
          class="absolute mt-2 text-red-500 text-sm">
          <ng-container *ngIf="email?.errors?.['required']">
            Email is required.
          </ng-container>

          <ng-container *ngIf="email?.errors?.['email']">
            Please enter a valid email address.
          </ng-container>

          <ng-container *ngIf="errors?.email">
            {{ errors?.email }}
          </ng-container>
        </p>
      </div>
      <div class='relative'>
        <input
          class="w-full border-2 outline-none p-2 rounded-md"
          [class.border-red-500]="(password?.invalid || errors?.password) && (password?.dirty || password?.touched)"
          type="password"
          placeholder="*******"
          formControlName="password"
        />
        <p *ngIf="(password?.invalid || errors?.password) && (password?.dirty || password?.touched)"
          class="absolute mt-2 text-red-500 text-sm">
          <ng-container *ngIf="password?.errors?.['required']">
            Password is required.
          </ng-container>

          <ng-container *ngIf="errors?.password">
            {{ errors?.password }}
          </ng-container>
        </p>
      </div>

      <button class="flex justify-center p-2 rounded-md w-1/2 self-center bg-gray-800  text-white hover:bg-gray-800"
        (click)="onSignIn()"
      >
        <div *ngIf="isLoading" class="mr-2 w-5 h-5 border-l-2 rounded-full animate-spin"></div>
        <span>
          SIGN IN
        </span>
      </button>
    </form>
    <div class="text-center text-sm">
      Not a User?
      <button type="button" routerLink="../registration" class="font-medium text-gray-800 ml-1">
        Sign Up
      </button>
    </div>
  </div>
</div>
